.App {
  background-image: url('./images/dark.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.img{ 
  position: absolute;
  top: 7%;
} 

/* .but{
  display: flex;
}  */

.but
{
  position: absolute;
  bottom: 5%;
  margin:25px;
  display:flex;
  flex-direction:row;
  width:100vw;
  height:40px;
  margin: auto;
  padding:5px; /* this */
}
.but > button
{
  flex:2 1 auto;
  /* border:2px rgb(179, 251, 197) solid; */
  text-align:center;
  justify-content: center;
  margin:5px;  /* and that, will result in a 10px gap */
}
.button{
  background-color: #ffffff;
  
}

.meter{
  width: 200px;
  height: 51px;
  position: absolute;
  top: -13500%;
  left: 35%;

}

.text{

 display: block;
  height: 5px; 
}
.meter_div{
transform: rotate(270deg);
z-index: 5;
}